<!DOCTYPE html>
<html>
<head>
  <title>Circles And Squares</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Ribeye+Marrow' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="height=device-height; width=device-width; initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="no_mobile">
    Circles and Squares does not support such a small screen. Please try again when you're not in the middle of something else.
  </div>
  <div id="user">
    <%=link_to "Logout", '/'%>
  </div>
  <%= yield %>

</body>
</html>
