<!DOCTYPE html>
<html>
<head>
  <title>Circlez And Squarez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Ribeye+Marrow' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="height=device-height; width=device-width; initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="user" style="<%= @for_image ? "display:none" : ""%>">
      <%=link_to "Logout", '/'%>
    </div>
    <%= yield %>
  </div>
  <div id="no_mobile">
    <p>Circlez and Squarez does not support such a small screen. If you are unable to make this window bigger, please try again when you're not in the middle of something else.</p>
  </div>
</body>
</html>
